* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Nunito Sans, sans-serif;
  letter-spacing: 0.5px;
  color: #333;
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 90;
  padding-bottom: 150px;
}
